@model VinylWebApp1.Models.DeliveryType

@{
    ViewData["Title"] = "Details";
}

<h1><img width="37" height="37" style="margin-bottom:7px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2aeSka-sRGn18Fg33wH-a19Fv8hxb2k92tSrE0tui6wPikUYzrbNs6MuSvIkrwQeeGlM&usqp=CAU" />Szczegóły</h1>

<div>
    <h4>Typ dostawy</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Days)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Days)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edytuj</a> |
    <a asp-action="Index">Wróć</a>
</div>
